.Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: var(--modal-z-index);
  pointer-events: none;
}

.content {
  padding: 20px;
  max-width: 60%;
  border-radius: 12px;
  background-color: var(--bg-color);
  transform: scale(0.5);
  transition: transform 0.3s;
  z-index: var(--modal-z-index);
}

.opened {
  opacity: 1;
  pointer-events: auto;

  .content {
    transform: scale(1);
  }
}

.isClosing {
  .content {
    transform: scale(0);
  }
}
