.Dropdown {
  position: relative;
}

.btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline-color: transparent;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: var(--card-bg);
  border: 1px solid var(--primary-color);
  z-index: 1000;
}

.item {
  padding: 10px 25px;
  width: 100%;
  color: var(--primary-color);
  background: none;
  border: none;
  outline-color: transparent;
  cursor: pointer;
}

.active {
  background: var(--inverted-primary-color);
}

.optionsBottomLeft {
  top: 100%;
  right: 0;
}

.optionsBottomRight {
  top: 100%;
  left: 0;
}

.optionsTopLeft {
  bottom: 100%;
  right: 0;
}

.optionsTopRight {
  bottom: 100%;
  left: 0;
}
